* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border-color: green;
}

.middle {
  display: flex;	
  justify-content: center;
  align-items: center;
}

.middleofnowhere {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 190px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 40px 30px;
  border: 5px dashed;
  border-radius: 100%;
  background-color: palegoldenrod;
}

.pagereloadbutton {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 190px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px 30px;
  border: 5px dashed;
  border-radius: 12px;
  background-color: goldenrod;
}

input {
	width: 300px;
	font-size: 15px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  border: 3px solid;
  border-color:bisque;
}

.centered {
  display: flex;
  justify-content: center;
}

.countdownbutton {
  font-size: 15px;
	padding: 6px 8px 6px 8px;
	border: 1px solid #F6F6f6;
  background: #F6F6f6;
	border-radius: 8px;
  border: 3px solid #F6F6f6;
  margin-left: 10px;
  margin-right: 10px;
}

.reloadbutton {
  font-size: 15px;
	padding: 6px 8px 6px 8px;
	border: 1px solid #cecece;
  background: goldenrod;
	border-radius: 8px;
  border: 3px solid goldenrod;
  opacity: 0.5;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.field {
  margin-right: 15px;
}

.value {
  font-size: 52px;
  color:burlywood;
}

.label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color:burlywood;
}



